/* General styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: url('resources/wallpaper.webp') no-repeat center center fixed;
    background-size: cover; /* Ensure it covers the entire viewport */
    background-color: #fff;
    position: relative;
}

.banner {
    width: 100%;
    height: 50px;
    background-image: url('resources/prideflag.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.wordart {
    max-width: 50%;
    height: auto;
    cursor: pointer;
}

.peepopride {
    position: absolute;
    left: -10%;
    height: 50px;
    animation: dash 3s linear infinite;
    z-index: 3;
}

@keyframes dash {
    0% {
        left: -10%;
    }
    100% {
        left: 110%;
    }
}

.monkecorner-container {
    position: absolute;
    bottom: 45px;
    left: 0;
    z-index: 2;
    width: 150px;
    height: auto;
}

.monkecorner {
    width: 100%;
    height: auto;
}

.floating-images-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.floating-image {
    position: absolute;
    width: 100px;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .banner {
        height: 40px;
    }

    .peepopride {
        height: 40px;
    }

    .monkecorner-container {
        width: 100px;
    }

    .wordart {
        max-width: 70%;
        padding: 10px;
    }

    .floating-image {
        width: 70px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 30px;
    }

    .peepopride {
        height: 30px;
    }

    .monkecorner-container {
        width: 80px;
    }

    .wordart {
        max-width: 90%;
        padding: 10px;
    }

    .floating-image {
        width: 50px;
    }
}
