body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: url('resources/wallpaper.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: #fff;
    position: relative;
}

.banner {
    width: 100%;
    height: 50px;
    background-image: url('resources/prideflag.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 3; /* Increased to ensure it is above floating images */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.wordart {
    max-width: 50%;
    height: auto;
    cursor: pointer;
}

.peepopride {
    position: absolute;
    left: -10%;
    height: 50px;
    animation: dash 3s linear infinite;
    z-index: 3; /* Increased to ensure it is above floating images */
}

@keyframes dash {
    0% {
        left: -10%;
    }
    100% {
        left: 110%;
    }
}

.monkecorner-container {
    position: absolute;
    bottom: 45px;
    left: 0;
    z-index: 2;
    width: 150px;
    height: auto;
}

.monkecorner {
    width: 100%;
    height: auto;
}

.floating-images-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.floating-image {
    position: absolute;
    width: 100px;
    height: auto;
}
